{% extends 'base.html' %}
{% block content%}

<div class="container">
	<div class="row">
		<div class="col m-3">
			<h2>Cadastro</h2>
			{% if messages %}
				{% for message in messages%}
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="alert alert-success" role="alert">
  									{{message}}
								</div>
							</div>
						</div>
					</div>
				{%endfor%}
			{% endif%}
			<form method="POST">
				<div class="form-group">
					{% csrf_token %}
					{{form}}
				</div>
				{% if obj %}
					<button type="submit" class="btn btn-primary">Atualizar</button>
					<div class='col'>
						<a href="/delete/autor/{{obj.id}}">Deletar</a>
					</div>
				{%else%}
					<button type="submit" class="btn btn-primary">Cadastrar</button>
				{%endif%}
			</form>
		</div>
	</div>
</div>
			
	

{% endblock %}