{% extends 'base.html' %}
{% load static %}
{% block content%}

	<div class="container">
		<div class="row">
			<div class="col m-3">
				<h1>Acervo de Livros</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col">
				<img src="{% static 'images/acervo.jpg' %}" class="img-fluid" alt="Imagem responsiva" width=400>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				{% if obj %}
				<table class="table">
  					<thead class="thead-dark">
    
      					<tr>
      						<th scope="col">Cod</th>
      						<th scope="col">Autor</th>
      						<th scope="col">Livro</th>
      						<th scope="col">Quantidade de Página</th>
      						<th scope="col">Preço</th>
      						<th scope="col">Data</th>

    					</tr>
  						</thead>
  							<tbody>
     							{% for i in obj %}
    							<tr>
     								<th scope="row">{{i.id}}</th>
      								<td><a href="/update">{{i.autor}}</a></td>
      								<td><a href="/update/livro/{{i.id}}">{{i.nome}}</a></td>
      								<td>{{i.quantidade_pagina}} Páginas</td>
      								<td>R$ {{i.preco}}</td>
      								<td>{{i.data_inclusao}}</td>
    							</tr>
    							{% endfor %}
  							</tbody>

				</table>
				{% endif %}
			</div>
		</div>
	</div>


		

{% endblock %}